<h1>Lista de productos en tiempo real</h1>

<div id="productsContainer">
    {{#each products}}
        <div id="prod-{{this._id}}{{this.id}}" style="border-bottom: 1px solid black">
            <ul>
                <li>Nombre: {{this.title}}
                    <ul>
                        <li>Id: {{this._id}}{{this.id}}</li>
                        <li>Descripción: {{this.description}}</li>
                        <li>Precio: {{this.price}}</li>
                        <li>Imágenes: {{this.thumbnail}}</li>
                        <li>Código: {{this.code}}</li>
                        <li>Stock: {{this.stock}}</li>
                        <li>Categotría: {{this.category}}</li>
                    </ul>
                </li>
            </ul>
            <button style="margin: 0px 0px 20px 20px" class="deleteButton" id="deleteButton_{{this._id}}{{this.id}}" onclick="deleteProduct('{{this._id}}{{this.id}}')">Eliminar</button>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>