<h1>Perfil</h1>

<div>
    <p>Nombre: {{user.name}}</p> 
    <p>Apellido: {{user.lastname}}</p> 
    <p>Usuario: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
</div>